@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
:root {
    --main-color:#fac564 ;
}
body{
    background-image: url(../img/header/bg_4.jpg);
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}
a{
    color: rgba(255, 255, 255, 0.9) !important;
    text-decoration: none;
}
.scroll_to_top{
    width: 40px;
    height: 40px;
     bottom: 20px;
     right: 20px;
     border: 1px solid #eadedecc;
     cursor: pointer;
     transition: .4s;
 }
 .loading{
     transition: .5s;
 }
 .loader {
     position: relative;
     width: 64px;
     height: 64px;
     background-color: rgba(0, 0, 0, 0.5);
     transform: rotate(45deg);
     overflow: hidden;
   }
   .loader:after{
     content: '';
     position: absolute;
     inset: 8px;
     margin: auto;
     background: #222b32;
   }
   .loader:before{
     content: '';
     position: absolute;
     inset: -15px;
     margin: auto;
     background: var(--main-color);
     animation: diamondLoader 2s linear infinite;
   }
   @keyframes diamondLoader {
     0%  ,10% {
       transform: translate(-64px , -64px) rotate(-45deg)
     }
     90% , 100% {
       transform: translate(0px , 0px) rotate(-45deg)
     }
   }
nav{
    background: #121618 ;
}
.container0{
    width: 1400px;
    margin: auto;
}
.main-color{
    background:#bf7e06;
}
.nav-link.active{
    color:var(--main-color) !important;
}
.nav-link:hover{
    color: var(--main-color) !important;
}
.nav-link{
    color: rgba(255, 255, 255, 0.7) !important;
    padding-right:25px !important;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px !important;
}
.navbar-brand{
    padding-right: 40%;
}
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,.5)) ,url(../img/header/bg_3.jpg);
    background-size: cover;
    background-position:center center;
    position: relative;
}
header h1{
    font-family: 'Josefin Sans';
}
header a{
    font-size: 13px;
    padding-left: 10px;
}
.menu-link{
    color: rgba(191, 191, 191) !important;
}
.pizza-sec img{
    width: 25%;
    border: 1px solid  rgb(92, 61, 3);
    padding: 13px;
    transition: .5s;
}
.pizza-sec h3 ,.tab-nav h3{
    font-size: 18px;
    font-family: "Josefin Sans";
} 
.pizza-sec:hover.pizza-sec img{
transform: rotate(145deg);
}
.pizza-sec p{
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 300;
} 
.customer-icon{
    position: relative;
    
}
.content-0{
    padding-top: 8%;
}
.pizza-meal h2 ,.meal h2,.blog h2,.concat h2{
    font-family: 'Josefin Sans';
    font-size: 30px;
}
.pizza-meal h3 {
    font-family: 'Josefin Sans';
    font-size:20px ;
}
.pizza-meal span{
    color: var(--main-color);
    padding-right: 10px;
}
.pizza-meal a{
    border: 1px solid #fff;
    padding: 8px 10px;
    color:#fff;
}
.pizza-meal a:hover{
    background: var(--main-color);
    color: #000 !important;
}
.typy-1:hover,.typy-2:hover,.typy-3:hover,.typy-4:hover,.typy-5:hover,.typy-6:hover{
    box-shadow: 20px 20px 50px grey;
}
.content-1{
 background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
 padding-block: 20px;
 
}
.type-1,.type-2,.type-3,.type-4,.type-5,.type-6,.type-7,.type-8{
    background-image: url(../img/pizza-type/pizza-1.jpg);
   background-size: cover;
   background-position: center center;
}
.type-2{
    background-image: url(../img/pizza-type/pizza-2.jpg);
}
.type-3{
    background-image: url(../img/pizza-type/pizza-3.jpg);
}
.type-4{
    background-image: url(../img/pizza-type/pizza-4.jpg);
}
.type-5{
    background-image: url(../img/pizza-type/pizza-5.jpg);
}
.type-6{
    background-image: url(../img/pizza-type/pizza-6.jpg);
}
.type-7{
    background-image: url(../img/pizza-type/pizza-7.jpg);
}
.type-8{
    background-image: url(../img/pizza-type/pizza-8.jpg);
}
.line{
    position: relative;
}
.line::before{
    content: '';
    position: absolute;
    left: -100px;
    right: 0;
    bottom: 4px;
    width: 40px;
    height: 1px;
    margin: auto;
    background: #8d5d05;
}
.deg1{
    content: '';
    position: absolute;
    bottom: 2px;
    left: -30px;
    right: 0;
    width: 6px;
    height: 6px;
    background: var(--main-color);
    transform: rotate(135deg);
    margin: auto;
}
.deg2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    content: '';
    background: #fac564;
    transform: rotate(135deg);
    margin: 0 auto;
}
.deg3{
    position: absolute;
    bottom: 2px;
    left: 30px;
    right: 0;
    width: 6px;
    height: 6px;
    content: '';
    background: #fac564;
    transform: rotate(135deg);
    margin: 0 auto;
}
.line::after{
    content: '';
    position: absolute;
    left: 100px;
    right: 0;
    bottom: 4px;
    width: 40px;
    height: 1px;
    margin: auto;
    background: #8d5d05;
}
.item .img{
    border-radius: 50%;
    width: 10%;
    height:60px;
}
.item h3 ,.blog h3{
    font-family: 'Josefin Sans';
    font-size:18px ;
    color:rgb(191, 191, 191) ;
    background: #000000ab;
   
}
.price{
    color: var(--main-color);
    position: relative;
    left: 300px;
    background: #000000ab;
}
.para-0{
    width: max-content;
}
.price::before{
    position: absolute;
    bottom: 30%;
    left:-290px;
    right:0;
    content: '';
    width: 280px;
    height: 1px;
    border-bottom: 1px dashed #bf7e06;
}
.price.p2::before{
    width: 265px;
    left: -270px;  
}
.price.p2{
    left: 280px;
}
.price.p3::before{
    width: 295px;
    left: -300px;  
}
.price.p3{
    left: 310px;
}
.price.p4::before{
    width: 230px;
    left: -240px;  
}
.price.p4{
    left: 250px;
}
.price.p5::before{
    width: 245px;
    left: -250px;  
}
.price.p5{
    left: 270px;
}
.price.p6::before{
    width: 245px;
    left: -250px;  
}
.price.p6{
    left: 260px;
}
.price.p7::before{
    width: 295px;
    left: -300px;  
}
.price.p7{
    left: 310px;
}
.price.p8::before{
    width: 240px;
    left: -250px;  
}
.price.p8{
    left: 265px;
}
.gallery1 ,.gallery2,.gallery3,.gallery4{
    background-image: url(../img/customer/gallery-1.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 100%;
}
.gallery2{
    background-image: url(../img/customer/gallery-2.jpg);
}
.gallery3{
    background-image: url(../img/customer/gallery-3.jpg);
}
.gallery4{
    background-image: url(../img/customer/gallery-4.jpg);
}
.welcome-resturent p,.pizza-meal p,.menu p ,.tab-nav p ,.blog p ,.footer-content .p{
    font-family: 'Poppins';
    font-size:15px ;
    color: rgb(128, 128, 128);
    line-height: 27px;
}
.fa-magnifying-glass{
    border:1px solid var(--main-color);
    padding: 20px;
    left: 45%;
    background: var(--main-color);  
    transition: .5s; 
    visibility: hidden;
}
.gallery1:hover .fa-magnifying-glass,.gallery2:hover .fa-magnifying-glass,.gallery3:hover .fa-magnifying-glass,.gallery4:hover .fa-magnifying-glass{
   visibility: visible;
     transform: rotate(145deg);
}
.fa-magnifying-glass:hover{
    background: none;
    color: var(--main-color);
}
.happy-customer{
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(../img/customer/bg_2.jpg);
    background-attachment: fixed;
}
.add-to-cart .desc{
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.pizza-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.button1{
    border: 1px solid white;
    padding: 14px 17px;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 400;
    transition: .5s;
}
.button1:hover{
    background:var(--main-color);
    border-color: var(--main-color);
     color: #000 !important;
}
.add-to-cart .nav-item .active{
    background: var(--main-color);
    color: #000 !important;
}
.tab-nav h3{
    font-size: 22px;
}
.nav-0 li {
border: 1px solid var(--main-color);
padding-block: 2px;
margin-right: 10px;
}
.nav-0 li:hover{
background: var(--main-color);
color: #000 !important;
}
.nav-0 li:hover button{
    color: #000 !important;
}
.nav-0 li button{
    font-size: 18px !important;
    color: var(--main-color) !important;
}
.drink1,.drink2,.drink3,.burger1,.burger2,.burger3,.pasta1,.pasta2,.pasta3{
    background-image: url(../img/contentNav&tap/drink-1.jpg);
    background-size: cover;
    background-position: center center;
    
}
.drink2{
    background-image: url(../img/contentNav&tap/drink-2.jpg);
}
.drink3{
    background-image: url(../img/contentNav&tap/drink-3.jpg);
}
.burger1{
    background-image: url(../img/contentNav&tap/burger-1.jpg);
}
.burger2{
    background-image: url(../img/contentNav&tap/burger-2.jpg);
}
.burger3{
    background-image: url(../img/contentNav&tap/burger-3.jpg);
}
.pasta1{
    background-image: url(../img/contentNav&tap/pasta-1.jpg);
}
.pasta2{
    background-image: url(../img/contentNav&tap/pasta-2.jpg);
}
.pasta3{
    background-image: url(../img/contentNav&tap/pasta-3.jpg);
}
.img1,.img2,.img3{
     background-image: url(../img/blog/image_1.jpg);
     width: 350px;
     height: 300px;
     background-position:center center;
     background-size: cover;
}
.img2{
    background-image: url(../img/blog/image_2.jpg);
}
.img3{
    background-image: url(../img/blog/image_3.jpg);
}
.btn{
    background: var(--main-color) !important;
    color: #000 !important;
    border: 1px solid var(--main-color);
    padding: 18px 20px;
    border-radius: 0;   
}
.btn:hover{
    background: none !important;
    border: 1px solid var(--main-color) !important;
    color: var(--main-color) !important;
}

.vh-110{
    height: 110vh;
}
.form-control{
border-bottom:1px solid rgba(173, 164, 164, 0.425) !important;
}
.concat h2{
font-weight:100;
}
.icon i{
    color: white;
    font-size: 20px;
    padding-left: 20px;
}
.fa-twitter:hover{
    color: rgb(90, 187, 233);
    transform: scale(1.5);
}
.fa-facebook-f:hover{
    color: rgb(26, 13, 171);
    transform: scale(1.5);
}
.fa-instagram:hover{
color: rgb(255,48,108);
transform: scale(1.5);
}
.footer{
    background: #101315;;
}
.footer-content h2{
    font-size:16px ;
    font-family: 'Josefin Sans';
    color:white ;
}
.h3{
    font-size:16px ;
    font-family:'Josefin Sans';
    transition: .5s;
}
.h3:hover{
 color: var(--main-color) !important;
}
.img-blog1,.img-blog2{
    background-image: url(../img/blog/image_1.jpg);
    background-size: cover;
    background-position: center center;
    width: 80px;
    height: 80px;
}
.recent-blog a{
    font-size:12px;
    font-family:'Poppins';
    color:rgb(128, 128, 128) !important;
}
.img-blog2{
    background-image: url(../img/blog/image_2.jpg);
}
.footer-content ul li{
list-style-type:none;

}
.footer-content ul li a{
    font-size: 17px;
    color: rgba(201, 201, 201, 0.872) !important;
}
.footer-content ul li a:hover{
    color: white !important;
}
.w-10{
    width: 10%;
}
.text-color{
    color: #c7cccfe4;
}
.footer-content .p{
    color:rgba(201, 201, 201, 0.872) ;
}
.cmt-footer p{
    font-size:16px ;
    font-family:'Poppins';
    color:rgba(255, 255, 255, 0.7) ;
    font-weight: 300;
}
.icon-1 a i{
    border-radius: 50%;
    border: 1px solid rgb(50, 47, 47) ;
    height: 50px;
    width: 50px;
    line-height: 50px;
    padding-left:15px ;
background:rgb(50, 47, 47) ;
}