@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@media screen and (max-width: 576px) {
    .navbar-brand{
        padding-right: 5% !important;
     }
     .navbar-toggler{
        color: #fff;
        font-family: 'Josefin Sans';
     }
       .pizza-meal .col-md-2{
        height: 280px !important;
        width: 50% !important;
        margin-top: 8%;
       }
       /*-----*/
       .item .img{
         border-radius: 50%;
         width: 5% !important;
         height:60px !important;
       }
       .para-0{
         width: 65% !important;
        }
        .price{
         left:25% !important
        }
        .price::before{
         left:-100px !important;
         width: 95px !important;
        }
        .item h3{
         width: max-content !important;
        }
        .price.p2::before{
         width: 100px !important;
         left: -100px !important;  
        }
       .price.p2{
         left: 90px !important;
       }
       .price.p3::before{
         width: 105px !important;
         left: -110px !important;  
       }
     .price.p3{
         left: 120px !important;
     }
     .price.p4::before{
         width: 80px !important;
         left: -80px !important;  
     }
     .price.p4{
         left: 70px !important;
     }
     .price.p5::before{
         width: 80px !important;
         left: -80px !important;  
     }
     .price.p5{
         left: 80px !important;
     }
     .price.p6::before{
         width: 60px !important;
         left: -70px !important;  
     }
     .price.p6{
         left: 65px !important;
     }
     .price.p7::before{
         width: 95px !important;
         left: -100px !important;  
     }
     .price.p7{
         left: 115px !important;
     }
     .price.p8::before{
         width: 60px !important;
         left: -70px !important;  
     }
     .price.p8{
         left: 70px !important;
     }
       /*-----*/
    .add-to-cart .desc{
        height: 300px !important;
    }
    .add-to-cart .nav-item{
        width: 100% !important;
        margin-bottom: 5px;
    }
    .add-to-cart .nav-item .active{
      width: 100%;
      text-align: start;
  }
    .add-to-cart .nav{
        padding-left: 0 !important;
    }
    .add-to-cart .pizza-img{
        margin-left: 20% !important;
        margin-top: 30px;
    }
    .ABOUT-US{
        padding-top: 0 !important;
    }
    .SERVICES,.HAVE-A-QUESTIONS{
        padding-top: 30px;
    }
}
@media screen and (min-width: 576px) and (max-width: 885px) {
    .navbar-brand{
        padding-right: 10% !important;
     }
     .navbar-toggler{
        color: #fff;
        font-family: 'Josefin Sans';
     }
     .pizza-meal .col-md-2{
        height: 250px;
        width: 50%;
        margin-top: 20px;
      }
      .item .img{
        border-radius: 50%;
        width: 8% !important;
        height:80px !important;
      }
     .menu{
        padding-left: 50px;
     } 
    
     .add-to-cart  .desc{
        width: 300% !important;
        height:300px !important;
     } 
     .sub-add-to-card{
        width: 100% !important;
     }
     .pizza-img{
        display: block;
        margin: auto !important;
     }
     .img1,.img2,.img3{
        width: 200px !important;
        height: 300px;
     }
     .ABOUT-US,.RECENT-BLOG,.SERVICES,.HAVE-A-QUESTIONS{
        width: 50% !important;
     } 
     .ABOUT-US{
        padding-top:0 !important;
     }
     .SERVICES,.HAVE-A-QUESTIONS{
        margin-top: 40px !important;
     }

}
@media screen and (width: 1280px) {
    .firstMenu{
        padding-left: 0 !important;
    }
}