@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@media screen and (max-width: 576px) {
    .navbar-brand{
        padding-right: 5% !important;
     }
     .navbar-toggler{
        color: #fff;
        font-family: 'Josefin Sans';
     }
     .welcome-resturent  div{
        padding-left: 0 !important;
        
     }
     .welcome-resturent{
        width: 100% !important;
     }
     .welcome-resturent h2{
        font-size: 25px;
        padding: 20px !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
     }
     .welcome-resturent p{
        padding: 20px !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        color: gray;
     }
   .chef .chef-item{
    width: 90% !important;
    margin-left: 15px;
    margin-top: 15px;
   }
   .icon-content{
    margin-top: 10% !important;
    transition: .5s;
    padding: 15% !important;
    width: 30% !important;
    border: 1px solid var(--main-color);
    margin-left: 35% !important;
    }
    .customer-icon{
        z-index:1;
        left: 40% !important;
        top:20% !important
    }
    .customer-icon img{
        width: 80% !important;
    }
    .ABOUT-US{
        padding-top: 0 !important;
    }
    .SERVICES,.HAVE-A-QUESTIONS{
        padding-top: 30px;
    }
    .contact form{
        padding-bottom: 20px;
    }
}
@media screen and (min-width: 576px) and (max-width: 884px) {
    .navbar-toggler{
        color: #fff;
        font-family: 'Josefin Sans';
     }
     .welcome-resturent  div{
        padding-left: 10px !important;
        
     }
     .welcome-resturent h2{
        font-size: 25px;
        padding: 20px !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
     }
     .welcome-resturent p{
        padding: 20px !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        color: gray;
     }
     .chef .chef-item{
        width: 45% !important;
        margin-right: 10px !important;
        margin-top: 15px;
       }
       .happy-customer .col-md-2{
        width: 50% !important;
     }
       .icon-content{
        padding: 20% !important;
        width: 20% !important;
        margin-left:27% !important;
        margin-top: 20px;
    }
     .ABOUT-US,.RECENT-BLOG,.SERVICES,.HAVE-A-QUESTIONS{
        width: 50% !important;
     } 
     .ABOUT-US{
        padding-top:0 !important;
     }
     .SERVICES,.HAVE-A-QUESTIONS{
        margin-top: 40px !important;
     }
}
